<?xml version="1.0"?>
<launch>
  <node name="mode_switcher" pkg="hector_joy_mode_switcher" type="mode_switcher_node.py" output="screen">
    <param name="switch_mode_button" value="7"/>
    
    <rosparam param="modes">
      driving: /hector_joy_teleop/enable
      manipulation: /manipulator_arm_joystick_control/enable
    </rosparam>
  </node>

</launch>