<?xml version="1.0"?>

<launch>
  <node name="hector_joy_teleop_with_plugins" pkg="hector_joy_teleop_with_plugins" type="hector_joy_teleop_with_plugins_node" respawn="false" output="screen">

    <rosparam file="$(find hector_joy_teleop_with_plugins)/config/f710.yaml" />

    <!-- Behavior Teleop Plugin Parameter -->
    <rosparam file="$(find hector_joy_teleop_plugins)/config/behavior/behavior_common.yaml" ns="hector_joy_teleop_plugins/BehaviorTeleop" />
    <rosparam file="$(find hector_joy_teleop_plugins)/config/behavior/behavior_mapping_logitech_f710.yaml" ns="hector_joy_teleop_plugins/BehaviorTeleop" />

    <!-- Change profile Plugin Parameter -->
    <rosparam file="$(find hector_joy_teleop_plugins)/config/profile/profile_common.yaml" ns="hector_joy_teleop_plugins/ChangeProfile" />
    <rosparam file="$(find hector_joy_teleop_plugins)/config/profile/profile_mapping_logitech_f710.yaml" ns="hector_joy_teleop_plugins/ChangeProfile" />

    <!-- Drive Teleop Plugin Parameter -->
    <rosparam file="$(find hector_joy_teleop_plugins)/config/drive/drive_common.yaml" ns="hector_joy_teleop_plugins/DriveTeleop" />
    <rosparam file="$(find hector_joy_teleop_plugins)/config/drive/drive_mapping_logitech_f710.yaml" ns="hector_joy_teleop_plugins/DriveTeleop" />

    <!-- Flipper Teleop Plugin Parameter -->
    <rosparam file="$(find hector_joy_teleop_plugins)/config/flipper/flipper_telemax.yaml" ns="hector_joy_teleop_plugins/FlipperTeleop" />
    <rosparam file="$(find hector_joy_teleop_plugins)/config/flipper/flipper_mapping_logitech_f710.yaml" ns="hector_joy_teleop_plugins/FlipperTeleop" />

    <!-- Manage properties Plugin Parameter -->
    <rosparam file="$(find hector_joy_teleop_plugins)/config/properties/properties_common.yaml" ns="hector_joy_teleop_plugins/ManageProperties" />
    <rosparam file="$(find hector_joy_teleop_plugins)/config/properties/properties_mapping_logitech_f710.yaml" ns="hector_joy_teleop_plugins/ManageProperties" />

    <!-- Sensorhead Teleop Plugin Parameter -->
    <rosparam file="$(find hector_joy_teleop_plugins)/config/sensorhead/sensorhead_common.yaml" ns="hector_joy_teleop_plugins/SensorheadTeleop" />
    <rosparam file="$(find hector_joy_teleop_plugins)/config/sensorhead/sensorhead_mapping_logitech_f710.yaml" ns="hector_joy_teleop_plugins/SensorheadTeleop" />

    <!-- Image Projection Plugin Parameter -->
    <rosparam file="$(find hector_joy_teleop_plugins)/config/image_projection/image_projection_common.yaml" ns="hector_joy_teleop_plugins/ImageProjectionTeleop" />
    <rosparam file="$(find hector_joy_teleop_plugins)/config/image_projection/image_projection_mapping_logitech_f710.yaml" ns="hector_joy_teleop_plugins/ImageProjectionTeleop" />
  </node>

  <!-- Load initial plugins (the service call with parameter wait will be executed when the service is available) -->
  <node pkg="rosservice" type="rosservice" name="LoadPluginProfile" args="call --wait /hector_joy_teleop_with_plugins/load_plugin &quot;{plugin_name: 'hector_joy_teleop_plugins::ChangeProfile', load: true}&quot;" />

</launch>
